<VirtualHost *:{{ vm.http_port }}>
    ServerAdmin webmaster@{{ vm.domain }}
    ServerName {{ vm.domain }}
    ServerAlias www.{{ vm.domain }}
    DocumentRoot /var/www/html/public/
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/html/public/>
        AllowOverride all
    </Directory>
</VirtualHost>